#av{
    position: absolute;
    left: 35%;
    top: 50%;
    height: 3.7%;
    width: 32%;
    border-radius: 20px;
}
#gole {
    position: absolute;
    height: 100px;
    width: 260px;
    top: 29.9%;
    left: 43.2%;
}

