#page {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "main main""footer footer";
    grid-template-rows: 100px 1000px 800px;

}

div {
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    flex-shrink: 0;
    margin: 0 auto;
    min-height: 0;
    width: 500px;
    height: 500px;
    margin-left: 640px;
    margin-top: 150px;


}



footer {
    position: absolute;
    top: 75%;
    left: 44.4%;

}

#gole {
    position: absolute;
    height: 48px;
    width: 144px;
    top: 24.9%;
    left: 48.2%;
}

#aa {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    left: 48.65%;
    top: 29%
}

#ab {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    left: 47.3%;
    top: 35%;
}

#ac {
    position: absolute;
    left: 42.8%;
    top: 44.6%;
    border-radius: 6px;
    height: 5.6%;
    width: 20%;
    border-width: 0.1px;
}

#ad {
    position: absolute;
    color: #3f79e9;
    font-size: 99%;
    font-family: 'Roboto', sans-serif;
    left: 42.75%;
    top: 50%;
    letter-spacing: 1.5px;

}

#ae {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-size: 11px;
    left: 42.9%;
    top: 54%;
    font-style: normal;
}

#af {
    position: absolute;
    top: 55.6%;
    left: 56.3%;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #3f79e9;
    letter-spacing: 1.5px;
}

#ag {
    position: absolute;
    top: 61.76%;
    left: 42.8%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #3f79e9;
}

#ah {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    left: 200px;

}

#ai {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 13px;
    left: 260px;

}

#aj {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 13px;
    left: 330px;

}

#ak {
    position: absolute;
    left: 58%;
    top: 61%;
}